@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DataHub</h1>
    <p>Explore the power of data management and analysis with DataHub.</p>
    <p>Visit our <a href="https://learn.datahub.com">documentation</a> to learn more.</p>
</div>