@{
    ViewData["Title"] = "DataHub";
}

<div class="text-center">
    <h1 class="display-4">Learn Data Analytics</h1>
    <p>Explore the Power of Data to Become a Data Engineer, Data Analytics, and Data Science by learning R, Excel, SQL, Power BI, and earn industry-leading Certifications.</p>
    <p>Visit our <a href="https://learn.datahub.com">documentation</a> to learn more.</p>
</div>
